<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="//www.herokucdn.com/purple/0.4.6/purple.min.css">
		<script src="//www.herokucdn.com/purple/0.4.6/purple.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div style="padding-top: 20px;"><a href="/">Home</a> | Videos</div>
				<h2>List of uploaded videos</h2>
				<ul>
					<% videos.forEach(function(video) { %>
						<li><a href="/videos/<%= video.id %>"><%= video.original_filename %></a></li>
					<% }) %>
				</ul>
			</div>
		</div>
	</body>
</html>
